%btn-shadow-hover {
	box-shadow: inset 0 0px 2px 3px rgba(97, 101, 105, 0.5);
}

%custom-btn {
    text-align: center;
    border: 1px solid;
    padding: 19px 65px;
    color: #282828;
    border-radius: 0;
    &:hover {
		@extend %btn-shadow-hover;
    }
    &:active {
        background-color: #282828;
    	color: #f3b227;
    }
}

%custom-ul {
    list-style: none;
    padding-left: 0;
    li {
        display: inline;
    }
}
