// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

// Variables
@import "custom";

@import "font-awesome.min.css";

//Slick Slider
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/slick-carousel/slick/slick-theme.scss";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.img-thumbnail {
    @extend .img-thumbnail;
    border: none;
    padding: 0;
    margin-bottom: 25px;
}

body {
	font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
	color: #5c5c5b;
	overflow-x: hidden;
}

blockquote{
	padding-left: 20px;
	border-left: 10px solid #5c5c5b;
}

.form-control::-webkit-input-placeholder {
  color: #b7b7b7;
}

.form-control:-ms-input-placeholder {
  color: #b7b7b7;
}

.form-control::-ms-input-placeholder {
  color: #b7b7b7;
}

.form-control::placeholder {
  color: #b7b7b7;
}


.hidden {
    display: none !important;
}

// Custom Slick Slider styles
@import "slick-slider";

// Custom Widget styles
@import "widget";

// Custom Entry styles
@import "entry";

// Custom Header styles
@import "header";

// Custom single styles
@import "single";

// Custom comments styles
@import "comments";

.read-more{
    color: #f76c6c;
    font-style: normal;
}

a {
    color: #282828;
    text-decoration: none;
    &:focus, &:hover {
    	color: lighten( #282828, 30% );
    	text-decoration: none;
	}
}

.category-links {
	font-size: 14px;
	color: #F3B227;
	a {
		color: #F3B227;
		text-decoration: underline;
		text-transform: uppercase;
		&:hover {
			color: lighten( #F3B227, 20% );
		}
	}
}

.continue-reading{
	margin: 15px 0;
	text-align: center;
	.more-link{
		@extend %custom-btn;
	}
}

.navigation {
	font-size: 16px;
	position: relative;
	border-bottom: 1px solid;
	padding-bottom: 15px;
	margin-bottom: 100px;
	.nav-previous {
		width: 50%;
		float: left;
		text-align: left;
		& > a {
			:after {
				content: "<";
				position: absolute;
				left: 0;
			}
		}
		& span {
			padding-left: 25px;
		}
	}
    .nav-next {
    	position: relative;
		width: 50%;
		float: right;
		text-align: right;
		& > a {
			:after {
				content: ">";
				position: absolute;
				right: 0;
			}
		}
		& span {
			padding-right: 25px;
		}
	}
}


.post {
	margin-bottom: 70px;
	.entry-footer {
		margin-top: 20px;
	}
}

.after-content-banner {
	.entry-title {
		font-size: 22px;
	}
	.entry-footer {
		border: none;
	}
    .posted-on {
    	float: right;
    }
}

.upper {
	position: absolute;
    bottom: 100px;
    right: 0;
    border: 1px solid;
    border-left: 2px solid;
    padding: 20px;
    border-top: 2px solid;
}


.site-header {
	margin-bottom: 30px;
}

.site-navigation{
	font-size: 12px;
	color: #858585;
	font-weight: bold;
	text-transform: uppercase;
}

.site-contet{
	position: relative;
}

.site-footer {
	.r-reserve {
		margin: 50px;
		text-align: right;
	}
}

.footer-slick__slider {
	position: relative;
	width: 100%;
	height: 325px;
	.slick-track {
		&:hover {
			.slick-slide a {
				display: block;
				position: relative;
				&:not(:hover) {
					&:before {
						position: absolute;
						content: "";
						width: 100%;
						height: 100%;
						background: rgba(240, 255, 255, 0.5);
						z-index: 5;
					}
				}
				/*&:hover {
					&:after {
						z-index: 5;
						position: absolute;
						width: 100%;
						margin: 160px 0;
						text-transform: uppercase;
						content: "Follow us on instagram"; //todoo
						text-align: center;
						top: 0;
						color: #FFF;
						-webkit-user-select: none;
					   	-moz-user-select: none;
					   	-ms-user-select: none;
					   	user-select: none;
					}
				}*/
			}
		}
	}
	.slick-slide {
		a span {
			position: absolute;
			text-transform: uppercase;
			text-align: center;
			color: #FFF;
			top: 0;
			width: 100%;
			margin: 160px 0;
			display: none;
		}
		a:hover span {
			display: inline;
		}
	}
}



.page-header__banner {
    margin-top: 85px;
	height: 600px;
}

.error-404 {
	text-align: center;
	h1 {
		margin-bottom: 50px;
		font-style: italic;
		color: #000;
		text-transform: uppercase;
	}
	p {
		font-size: 18px;
		margin-bottom: 60px;
	}
	a {
		background-color: #000;
		display: inline-block;
		margin-bottom: 50px;
		color: #FFF;
		padding: 13px 70px;
		text-transform: uppercase;
	}
}


.might-like {
	margin-bottom: 70px;
	h5 {
		text-transform: uppercase;
		font-size: 13px;
		text-decoration: underline;
		font-weight: bold;
		margin-bottom: 40px;
	}

	.category-links {
		font-size: 10px;
	}

	.entry-title{
		font-size: 13px;
	}
}
